
<!-- <form action = "/users" method = "post" accept-charset="UTF-8">
  <label for = 'username'>Username:</label>
  <input type='text' id = 'username' name="user[username]"><br><br>
  <label for = 'email'>Email:</label>
  <input type='text' id = 'email' name="user[email]"><br><br>
  <label for = 'password'>Password:</label>
  <input type='password' id = 'password' name="user[password]"><br><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="submit">
</form> -->

<%#= form_tag('/users') do%>
  <%#= label_tag 'username', 'Username:'%>
  <%#= text_field_tag 'username'%>
  <%#= label_tag 'email', 'Email:'%>
  <%#= text_field_tag 'email'%>
  <%#= label_tag 'password', 'Password:'%>
  <%#= password_field_tag 'password'%>
  <%#= submit_tag %>
<%# end %>
<h1>Create an Account</h1>
<%= form_for @user, html: {:class => "needs-validation"}  do |f| %>  
  <% @user.errors.full_messages.each do |error| %>
  <li><%= error %></li><br>
  <% end %>
  <%= f.label :username, 'Your Username here:'%>
  <%= f.text_field :username%><br><br>
  <%= f.label :email, 'Email: '%>
  <%= f.text_field :email, placeholder: 'username@gmail.com'%><br><br>
  <%= f.label :password, 'Password'%>
  <%= f.password_field :password, placeholder: 'password here' %><br><br>
  <%= f.submit 'Save'%>
<% end %>